<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
  <script src="https://kit.fontawesome.com/4db8fdbf3d.js" crossorigin="anonymous"></script>
  
</head>
  <title>Ingreso Empleados</title>
  link(rel="stylesheet", href="/css/home.css")
<body>

h2 Creacion de Nuevos Empleados

<form method="" action="">


<div class="row">

    
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Primer Nombre</label>
        <input type="text" class="form-control" name="primernombre" id="primernombre" placeholder="">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Segundo  Nombre</label>
        <input type="text" class="form-control" name="segundonombre" id="segundonombre" placeholder="">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" name="correo" id="correo" placeholder="">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" name="telefono" id="telefono" placeholder="">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Edad</label>
        <input type="number" class="form-control" name="edad" id="edad" placeholder="">
      </div>

        <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control" name="fechanacimiento" id="fechanacimiento" placeholder="">
      </div>

      div
        label(for="generoID") Genero:
        select(id="generoID", name="generoID")
            option(value="1") MASCULINO
            option(value="2") FEMININO
            option(value="3") OTRO
            // Agrega más opciones según los cargos disponibles en la tabla
      div 
        <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Direccion</label>
        <input type="text" class="form-control" name="direccion" id="direccion" placeholder="">
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">telefono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" placeholder="">
      </div>

      <button  type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-primary" href="/gestionarEmpleado">Regresar</a>

</div>

</form>


</body>
</html>