<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/4db8fdbf3d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css">
  <script src="/js/crearCliente.js"></script>
  <title>Ingreso de Clientes</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">La Mascota</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/home">Menu</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item user-section">
          <span class="navbar-text user-info">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/198/non_2x/user-icon-on-transparent-background-free-png.png" alt="User Image" style="width: 30px; height: 30px; border-radius: 50%;">
            Nombre Usuario
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h2 class="text-center mt-4">Ingresar Nuevo Cliente</h2>

<form method="POST" action="/api/crearCliente">
  <div class="container mt-4">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" class="form-control" name="dni" id="dni" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="primernombre" class="form-label">Primer Nombre</label>
        <input type="text" class="form-control" name="primernombre" id="primernombre" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="segundonombre" class="form-label">Segundo Nombre</label>
        <input type="text" class="form-control" name="segundonombre" id="segundonombre" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="primerapellido" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" name="primerapellido" id="primerapellido" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="segundoapellido" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" name="segundoapellido" id="segundoapellido" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" class="form-control" name="edad" id="edad" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="fechanacimiento" class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control" name="fechanacimiento" id="fechanacimiento" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="generoID">Género</label>
        <select class="form-select" id="generoID" name="generoID">
          <option value="1">MASCULINO</option>
          <option value="2">FEMININO</option>
          <option value="3">OTRO</option>
        </select>
      </div>
      <div class="mb-3 col-md-6">
        <label for="ciudad" class="form-label">Ciudad</label>
        <input type="text" class="form-control" name="ciudad" id="ciudad" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="colonia" class="form-label">Colonia</label>
        <input type="text" class="form-control" name="colonia" id="colonia" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="calle" class="form-label">Calle</label>
        <input type="text" class="form-control" name="calle" id="calle" placeholder="">
      </div>
      <div class="mb-3 col-md-6">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" placeholder="">
      </div>
      <div class="mb-3 col-12 text-center">
        <button type="submit" class="btn btn-success" onclick="crearMascota()">Siguiente</button>

        <a class="btn btn-primary" href="/">Regresar</a>
      </div>
    </div>
  </div>
</form>

</body>
</html>
