<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
  <script src="https://kit.fontawesome.com/4db8fdbf3d.js" crossorigin="anonymous"></script>
  
</head>
  <title>Ingreso Mascota</title>
  link(rel="stylesheet", href="/css/home.css")
<body>

h2 Ingresar Mascota

<form method="" action="">


<div class="row">


     <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Nombre de la Mascota</label>
        <input type="text" class="form-control" name="dni" id="dni" placeholder="">
     </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Edad</label>
        <input type="text" class="form-control" name="primernombre" id="primernombre" placeholder="">
      </div>

      <select for="formGroupExampleInput2" class="form-select mb-3" aria-label="Default select example">
      <option selected>ESPECIE</option>
      <option value="1">PERRO</option>
      <option value="2">GATO</option>
      <option value="3">OTRO</option>
      </select>


       <select for="formGroupExampleInput2" class="form-select mb-3" aria-label="Default select example">
      <option selected>RAZA</option>
      <option value="1">LABRADOR</option>
      <option value="2">PASTOR ALEMAN</option>
      <option value="3">OTRO</option>
      </select>

       <select for="formGroupExampleInput2" class="form-select mb-3" aria-label="Default select example">
      <option selected>SEXO</option>
      <option value="1">HEMBRA</option>
      <option value="2">MACHO</option>
      </select>

      <select for="formGroupExampleInput2" class="form-select mb-3" aria-label="Default select example">
      <option selected>CLIENTE</option>
      <option value="1">JUAN PEREZ</option>

      </select>




      <button  type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-primary" href="/">Regresar</a>

</div>

</form>


</body>
</html>