doctype html
html(lang="en")
    head
    
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
        script(src="/js/login.js")
        title Login
         
    body 

        <div class="container w-75 bg-primary mt-5 rounded shadow">

        <div class="row align-items-stretch">

            <div class="col fondo">


            </div>

            <div class="col bg-white">

                <div class="text-end">

                    <img src="assets/img/logo.png" width="100" alt="">

                </div>

                <h2 class="fw-bold text-center py-5">Bienvenido</h2>

                <form method="post" action="">


                    <div class="mb-4">

                        <label for="email" class="form-label">Correo electronico</label>
                        <input id="correo" type="email" class="form-control" name="email" onchange="validarCorreo()"> 
                    </div>


                    <div class="mb-4">

                        <label for="password" class="form-label">Contraseña</label>
                        <input id="password" type="password" class="form-control" name="password" onchange="validarContraseña()"> 
                    </div>

                    <div class="d-grid">

                        <button type="button" class="btn btn-primary" onclick="compararUsuarios()">Iniciar Sesion</button>

                    </div>

                    <div class="my-3">

                        <span>No tienes Cuenta? <a href="registro.html">Registrate</a></span>

                    </div>


                </form>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>